<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Ansíne</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/index.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
    <link rel="manifest" href="assets/site.webmanifest">
    <script src="assets/index.js"></script>
  </head>
  <body>
    <div id="logo">
    <pre>
   .~~.   .~~.
  '. \ ' ' / .'
   .~ .~~~..~.
  : .~.'~'.~. :
 ~ (   ) (   ) ~
( : '~'.~.'~' : )
 ~ .~ (   ) ~. ~
  (  : '~' :  )
   '~ .~~~. ~'
       '~'</pre>
    </div>
    <ul id="metrics">
      <li><label for="uptime">UPTIME</label><span id="uptime">0d.0h.0s</span></li>
      <li><label id="cpu-usage-label" for="cpu-usage">CPU 0%</label><progress id="cpu-usage" value="0" max="1"></progress></li>
      <li><label id="mem-usage-label" for="mem-usage">MEM 0%</label><progress id="mem-usage" value="0" max="1"></progress></li>
      <li><label id="swap-usage-label" for="swap-usage">SWP 0%</label><progress id="swap-usage" value="0" max="1"></progress></li>
    </ul>
    <ul id="services">
      {% for (name, detail) in services %}
      <a href="{{detail.route}}"><li>
        <span class="name">{{ name }}</span>
        <span class="desc">{{ detail.description }}</span>
        <span class="route">{{ detail.route }}</span>
      </li></a>
      {% endfor %}
    </ul>
    <footer id="current-system">
    </footer>
    <script type="text/javascript">
      init_metrics({{ refresh_interval }});
    </script>
  </body>
</html>
