<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Ansíne</title>
    <link rel="stylesheet" href="assets/index.css"/>
  </head>
  <body>
    <div id="logo">
    <pre>
   .~~.   .~~.
  '. \ ' ' / .'
   .~ .~~~..~.
  : .~.'~'.~. :
 ~ (   ) (   ) ~
( : '~'.~.'~' : )
 ~ .~ (   ) ~. ~
  (  : '~' :  )
   '~ .~~~. ~'
       '~'</pre>
    </div>
    <ul id="metrics">
      <li><label for="uptime">UPTIME</label><span id="uptime">{{ uptime }}</span></li>
      <li><label for="cpu-usage">CPU {{cpu}}%</label><progress id="cpu-usage" value="{{cpu}}" max="100"></progress></li>
      <li><label for="mem-usage">MEM {{mem}}%</label><progress id="mem-usage" value="{{mem}}" max="100"></progress></li>
    </ul>
    <ul id="services">
      {% for service in services %}
      <a href="{{service.route}}"><li>
        <span class="name">{{ service.name }}</span>
        <span class="desc">{{ service.desc }}</span>
        <span class="route">{{service.route}}</span>
      </li></a>
      {% endfor %}
  </body>
</html>
